
@{
    ViewBag.Title = "RegistrationPage";
}


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Task Management System</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap p-4 p-md-5">

                    <div class="w-100">
                        <h3 class="mb-4">Registration Form</h3>
                    </div>
                    <form>

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Select role</label>
                            <select class="form-control" id="Role" required>
                                <option selected hidden>--Select Role--</option>
                                <option value="1">Student</option>
                                <option value="2">Teacher</option>
                            </select>
                        </div>
                        <div class="row ">
                            <div class="form-group mb-3 col-lg-4">
                                <label class="label" for="name">Username</label>
                                <input type="text" class="form-control" placeholder="Username" required>
                            </div>

                            <div class="form-group mb-3 col-lg-4">
                                <label class="label" for="email">Email</label>
                                <input type="email" class="form-control" placeholder="Email" required>

                            </div>
                            <div class="form-group mb-3 col-lg-4">
                                <label class="label" for="password">Password</label>
                                <input type="password" class="form-control" placeholder="Password" required>
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group mb-3 col-lg-4">
                                <label class="label" for="contact">Contact</label>
                                <input type="number" min="0" class="form-control" placeholder="Password" required>
                            </div>

                            <div class="form-group col-lg-4">
                                <label for="exampleFormControlSelect1">State</label>
                                <select class="form-control" id="Role" required>
                                    <option selected hidden>--Select Role--</option>
                              
                                </select>
                            </div>
                            <div class=" form-group col-lg-4">
                                <label for="exampleFormControlSelect1">City</label>
                                <select class="form-control" id="Role" required>
                                    <option selected hidden>--Select Role--</option>
                                
                                </select>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="address">Address</label>
                            <textarea class="form-control" id="address" rows="3"></textarea>
                        </div>



                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
                        </div>

                        <div class="form-group d-md-flex">
                            <div class="w-50 text-left">
                                <label class="checkbox-wrap checkbox-primary mb-0">
                                    Remember Me
                                    <input type="checkbox" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="w-50 text-md-right">
                                <a href="#">Forgot Password</a>
                            </div>
                        </div>
                    </form>



                        <div class="w-100">
                            <p class="social-media d-flex justify-content-end">
                                <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                            </p>
                        </div>
                        <p class="text-center">Already member? <a data-toggle="tab" href="#signup">Login</a></p>
                 

                </div>
            </div>
        </div>
    </div>
</section>


