
@{
    ViewBag.Title = "AssignTask";
}



@using (Html.BeginForm("AssignTask", "Teacher", FormMethod.Post))
{
 <div class="container">
     <div class="card mx-auto mt-5" style="width:80%">
         <div class="card-header"><h2 class=" text-success">Assign Task</h2></div>
         <div class="card-body">
             <div class="row">
                 <div class="col-lg-12 mt-5 mb-4">
                     <select name="StudentID" multiple="multiple" aria-label="multiple select example" id="StudentID" class="form-control" size="5">
                         <option value="Select" disabled selected>Select</option>
                         @foreach (var item in ViewBag._studentList)
                         {
                             <option value="@item.StudentID">@item.Username</option>
                         }
                     </select>
                 </div>
             </div>

             <div class="row mt-2 mb-4">
                 <div class="col-lg-12">
                     <select name="TaskID" id="TaskID" class="form-control">
                         <option value="Select" selected>Select</option>
                         @foreach (var item in ViewBag._TaskList)
                         {
                             <option value=@item.TaskID>@item.TaskName</option>
                         }
                     </select>
                 </div>
             </div>
         </div>
        <div class="card-footer">
            <input type="submit" name="submit" class="btn btn-outline-success" />
            @Html.ActionLink("Back to HomePage" , "TeacherDashboard" , new { Controller ="Teacher"} , new { @class = "btn btn-outline-warning" })
        </div>
     </div>
 </div>
}

